<a href="https://colab.research.google.com/github/hl533/CS634FinalProject/blob/master/CS634Final_NYCTaxi.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

The goal of this project is to challenge is

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [2]:
# Python ≥3.5 is required
import sys
assert sys.version_info >= (3, 5)

# Scikit-Learn ≥0.20 is required
import sklearn
assert sklearn.__version__ >= "0.20"

# Common imports
import numpy as np
import os

# to make this notebook's output stable across runs
np.random.seed(42)

# To plot pretty figures
%matplotlib inline
import matplotlib as mpl
import matplotlib.pyplot as plt
mpl.rc('axes', labelsize=14)
mpl.rc('xtick', labelsize=12)
mpl.rc('ytick', labelsize=12)

# Where to save the figures
PROJECT_ROOT_DIR = "./finalproject"
CHAPTER_ID = "NYCTaxi"
IMAGES_PATH = os.path.join(PROJECT_ROOT_DIR, "images", CHAPTER_ID)
os.makedirs(IMAGES_PATH, exist_ok=True)

def save_fig(fig_id, tight_layout=True, fig_extension="png", resolution=300):
    path = os.path.join(IMAGES_PATH, fig_id + "." + fig_extension)
    print("Saving figure", fig_id)
    if tight_layout:
        plt.tight_layout()
    plt.savefig(path, format=fig_extension, dpi=resolution)

# Ignore useless warnings (see SciPy issue #5998)
import warnings
warnings.filterwarnings(action="ignore", message="^internal gelsd")
print('Directories created and several libraries successfully imported')

Directories created and several libraries successfully imported

In [3]:
# List of libraries

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import json
from pandas.io.json import json_normalize
import seaborn as sns
import matplotlib.pyplot as plt
from plotly.offline import init_notebook_mode, iplot
import plotly.graph_objs as go
from plotly import tools
import plotly.figure_factory as ff
import numpy as np
init_notebook_mode(connected = True)
import datetime
import missingno as msno
print('Additional libraries successfully loaded')

Additional libraries successfully loaded

In [4]:
import os
os.environ['KAGGLE_USERNAME'] = "hl533njit"
os.environ['KAGGLE_KEY'] = "02a6cedbb0e0800d3413432e287f2257"
!kaggle competitions download -c nyc-taxi-trip-duration
# api copied from kaggle
print('Kaggle Datasets Successfully Downloaded')

Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.6 / client 1.5.4)
Downloading train.zip to /content
 78% 49.0M/62.9M [00:02<00:01, 12.0MB/s]
100% 62.9M/62.9M [00:02<00:00, 27.3MB/s]
Downloading sample_submission.zip to /content
  0% 0.00/2.49M [00:00<?, ?B/s]
100% 2.49M/2.49M [00:00<00:00, 167MB/s]
Downloading test.zip to /content
 25% 5.00M/20.3M [00:00<00:00, 20.0MB/s]
100% 20.3M/20.3M [00:00<00:00, 58.3MB/s]
Kaggle Datasets Successfully Downloaded

In [5]:
# extract training zipfile
import zipfile
zip = zipfile.ZipFile('train.zip')
zip.extractall()
print('Training Dataset Successfully UnZipped to train.csv')

Training Dataset Successfully UnZipped to train.csv

In [6]:
#read first five rows of training dataset
import pandas as pd
df_train = pd.read_csv('train.csv')
df_train.head()

          id  vendor_id  ... store_and_fwd_flag trip_duration
0  id2875421          2  ...                  N           455
1  id2377394          1  ...                  N           663
2  id3858529          2  ...                  N          2124
3  id3504673          2  ...                  N           429
4  id2181028          2  ...                  N           435

[5 rows x 11 columns]

In [7]:
#return information about the dataframe including the data types of each column and memory usage
# of the entire data
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1458644 entries, 0 to 1458643
Data columns (total 11 columns):
id                    1458644 non-null object
vendor_id             1458644 non-null int64
pickup_datetime       1458644 non-null object
dropoff_datetime      1458644 non-null object
passenger_count       1458644 non-null int64
pickup_longitude      1458644 non-null float64
pickup_latitude       1458644 non-null float64
dropoff_longitude     1458644 non-null float64
dropoff_latitude      1458644 non-null float64
store_and_fwd_flag    1458644 non-null object
trip_duration         1458644 non-null int64
dtypes: float64(4), int64(3), object(4)
memory usage: 122.4+ MB

In [8]:
# extract Test zipfile
import zipfile
zip = zipfile.ZipFile('test.zip')
zip.extractall()
print('Test Dataset Successfully UnZipped to test.csv')

Test Dataset Successfully UnZipped to test.csv

In [9]:
#read first five rows of test dataset
import pandas as pd
df_test = pd.read_csv('test.csv')
df_test.head()

          id  vendor_id  ... dropoff_latitude  store_and_fwd_flag
0  id3004672          1  ...        40.756680                   N
1  id3505355          1  ...        40.655403                   N
2  id1217141          1  ...        40.729523                   N
3  id2150126          2  ...        40.730469                   N
4  id1598245          1  ...        40.755890                   N

[5 rows x 9 columns]

In [10]:
# return information about the dataframe including the data types of each column and memory usage
# of the test dataset
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 625134 entries, 0 to 625133
Data columns (total 9 columns):
id                    625134 non-null object
vendor_id             625134 non-null int64
pickup_datetime       625134 non-null object
passenger_count       625134 non-null int64
pickup_longitude      625134 non-null float64
pickup_latitude       625134 non-null float64
dropoff_longitude     625134 non-null float64
dropoff_latitude      625134 non-null float64
store_and_fwd_flag    625134 non-null object
dtypes: float64(4), int64(2), object(3)
memory usage: 42.9+ MB

In [11]:
# Descriptive statistics that summarize the central tendency, dispersion and shape of the 
# training dataset’s distribution, excluding NaN values
df_train.describe()

          vendor_id  passenger_count  ...  dropoff_latitude  trip_duration
count  1.458644e+06     1.458644e+06  ...      1.458644e+06   1.458644e+06
mean   1.534950e+00     1.664530e+00  ...      4.075180e+01   9.594923e+02
std    4.987772e-01     1.314242e+00  ...      3.589056e-02   5.237432e+03
min    1.000000e+00     0.000000e+00  ...      3.218114e+01   1.000000e+00
25%    1.000000e+00     1.000000e+00  ...      4.073588e+01   3.970000e+02
50%    2.000000e+00     1.000000e+00  ...      4.075452e+01   6.620000e+02
75%    2.000000e+00     2.000000e+00  ...      4.076981e+01   1.075000e+03
max    2.000000e+00     9.000000e+00  ...      4.392103e+01   3.526282e+06

[8 rows x 7 columns]